$orange: #d35400;

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	min-height: 100% !important;
	height: 100%;
	background-color:black;
}

nav {
	width: 100%;
	height: 67px;
	line-height: 64px;
	vertical-align: middle;
	background-color: black;

	#nav-select {
		width: 150px;
		height: 32px;
		background-color: $orange;
		color: white;
		outline: none;
		border: none;
	}

	ul, li {
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
		position: relative;

		.navbtn {
			color: lightgray;
			font-size: 16px;
			text-decoration: none;
			transition: .3s;
			&:hover {
				color: $orange;
				text-decoration: none;
				font-size: 16px;
			}
		}

		#brand {
			color: $orange;
			margin-left: 26px;
    		font-size: 20px;
		}

		#brand-image {
			width: 42px;
		  height: 42px;
			margin-top: 12px;
			position: absolute;
			left: 0;
			&:hover{
				cursor: pointer;
			}
		}

		#search-input {
			height: 32px;
			width: 200px;
			outline: none;
			color: $orange;
			font-size: 100%;
			background-color: transparent;
			border: none;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: $orange;
		}
	}

	.left{
		float:left;
	}

	.right{
		float:right;
	}
}

.image-feed{
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	flex-wrap: wrap;
	justify-content:center;
	background-color: black;
}

.feed-image {
	width:108px;
	height:108px;
	margin:4px;
	transition:.3s;
}

.feed-image:hover {
	cursor: pointer;
	outline-color:$orange;
	outline-width:4px;
	outline-style: solid;
	transition:.3s;
}

.content {
	width: 100%;
	height: calc(100% - 64px);
	position: relative;
}

.content-bg {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: center;

	span {
		width: 100%;
		min-height: 100vh;
		display:  -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
		display:  -ms-flexbox;  /* TWEENER - IE 10 */
		display:  -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
		display:  flex;         /* NEW, Spec - Firefox, Chrome, Opera */
		justify-content: center;
		align-content: center;
		background-color: rgba(0,0,0,0.5);
		color: white;

		form {
			width: 80%;
			display: block;

			.btn {
				min-width: 120px;
				min-height: 32px;
				padding-top: 6px;
				padding-bottom: 6px;
				padding-left: 12px;
				padding-right: 12px;
				text-decoration: none;
				background-color: transparent;
				outline-color: white;
				outline-width: 1px;
				outline-style: solid;
				color: white;
				border: none;
				transition: .3s;
			}

			.btn:hover {
				background-color: $orange;
				cursor: pointer;
				transition: .3s;
			}

			.intext {
				background-color: transparent;
				outline: none;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-bottom-color: white;
				border-left: none;
				border-right: none;
				border-top: none;
				color: white;
				padding-left: 4px;
			}
		}
	}


}

.intext {
	width: 80%;
	height: 32px;
	font-size: 100%;
}

.struct{
	display: block;
	margin-bottom: 4px;
}

.imageview {
	width: 100%;
	height: calc(100% - 48px);
	position: relative;
	overflow: hidden;

	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;

	&:hover {
		cursor: pointer;
	}

	.infobox {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 30%;
		height: 64px;
		background-color: rgba(0,0,0,0.5);
		padding: 12px;
		text-align:  left;
		color: lightgray;
	}
}

.image-data-bar {
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: black;
	color: lightgray;

	ul, li {
		margin-left: 10px;
		margin-right: 10px;
		display: inline;

		.barbtn {
			color: lightgray;
			font-size: 16px;
			transition: .3s;
			text-decoration:  none;
			&:hover {
				color: $orange;
				cursor: pointer;
				transition: .3s;
			}
		}
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}
}

.image-form {

	display: none;

	.intext {
		background-color: transparent;
		outline: none;
		border-bottom-style:  solid;
		border-bottom-width: 1px;
		border-bottom-color: lightgray;
		border-left: none;
		border-right: none;
		border-top: none;
		color: gray;
		padding-left: 4px;
		width: 100%;
	}
}

.comment {
	width: 100%;
	min-height: 64px;
	background-color: white;
	border-bottom-color: gray;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	flex-wrap: wrap;

	.comment-top {
		height: 24px;
		line-height:  24px;
		width: 100%;
		background-color: lightgray;
		color: gray;

		ul {
			padding-left: 12px;
			li {
				display: inline;
				margin-right: 10px;
			}
		}

		.left {
			float: left;
		}

		.right {
			float: right;
		}

	}

	.comment-text {
		padding: 12px;
		width: 100%;
		color: black;
	}
}

.orange-text {
	color: $orange;
}

.text {
	padding: 12px;
}

.link{
	color:white;
	text-decoration: none;
	transition:.3s;
}

.link:hover{
	color:$orange;
	transition:.3s;
}

.badge{
	width:10px;
	height:10px;
	text-align: left;
	line-height: 8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
	margin-left:8px;
	background-color:$orange;
	color:white;
	border-radius:100px;
	font-size: 12px;
}

@media screen and (max-width: 700px) {
    #search-input {
        display: none;
    }

    .hide-small {
    	opacity: 0;
    	display: none;
    }

    .infobox {
    	width: 300px !important;
    }

    .feed-image {
		//nothing
	}
}
